

html{
  font-family: 'VT323', monospace !important;
  background: #333;
  font-size: .7em;
  color: white;
}
#scoreboard{
  z-index: 1;
}
h1{
  font-size: 4em;
.cube{
  height:5px;
  width:5px;
}
}
#grid {
  z-index: -10;
    margin: 2em auto;
    position: fixed;
    top: 0;
    left: 0;
    border-collapse: collapse;
    table-layout: fixed;
}
td
{
  width: 60px;
  height:60px;
  text-align: center;
  background: #636363;
}
h2{
  float:left;
  width:4%;
  text-align: center;

}

.wall{background: #333;}

.player{background: white;
color:black;}

.health{background: green;}

.weapon{background: yellow;
color:black;}


.enemy{background: red;
color:black;}


.boss{background: DarkRed;}


.stairs{background: purple;}
