

html{
  font-family: 'Open Sans Condensed', sans-serif;
  background: #333;
  font-size: .7em;
}


.grid{
    margin: 2em auto;
}


td
{
  width: 15px ;
  height: 15px;
  text-align: center;
  background: #636363;
}

.wall:before{
    content: "";
}


.wall{background: #333;
}

.player{background: white;
}

.health{background: green;
}

.weapon{background: yellow;}


.enemy{background: red;}


.boss{background: DarkRed;}


.stairs{background: purple;}
