

html{
  font-family: 'Open Sans Condensed', sans-serif;
  background: #333;
  font-size: .7em;
  color: white;
}
#scoreboard{
  z-index: 100;
}

#grid {
    margin: 2em auto;
    position: fixed;
    top: 0;
    left: 0;
    border-collapse: collapse; }

td
{
  width: 1em ;
  height: 1em;
  text-align: center;
  background: #636363;
}

.wall:before{
    content: "";
}


.wall{background: #333;
}

.player{background: white;
}

.health{background: green;
}

.weapon{background: yellow;}


.enemy{background: red;}


.boss{background: DarkRed;}


.stairs{background: purple;}
